@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="/Produto/Adiciona" method="post">
        @Html.ValidationMessage("Produto.Invalido")
        <label for="nome">Nome:</label>
        <input id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome" />
        @Html.ValidationMessage("Produto.Nome")

        <label for="quantidade">Quantidade:</label>
        <input id="quantidade" name="produto.Quantidade"  value="@ViewBag.Produto.Quantidade"/>

        <label for="descricao">Descrição:</label>
        <input id="descricao" name="produto.Descricao"  value="@ViewBag.Produto.Descricao" />

        <label for="preco">Preço:</label>
        <input id="preco" name="produto.Preco"  value="@ViewBag.Produto.Preco"/>

        <label for="categoria">Categoria:</label>
        <select id="categoria" name="produto.CategoriaId">
            @foreach (var categoria in ViewBag.Categorias)
            {
                if (categoria.Id.Equals(produto.CategoriaId))
                {
                    <option value="@categoria.Id" selected="selected">@categoria.Nome</option>
                }
                else
                {
                    <option value="@categoria.Id">@categoria.Nome</option>
                }

            }
        </select>

        <input type="submit" value="Cadastrar" />
    </form>
</body>
</html>